# --- базовые библиотеки ---
numpy>=1.23.0
pandas>=2.0.0

# --- машинное обучение ---
catboost>=1.2.5
scikit-learn>=1.3.0
shap>=0.44.0
joblib>=1.3.0

# --- визуализация / UI ---
matplotlib>=3.8.0
plotly>=5.20.0
streamlit>=1.34.0

# --- API и прочее ---
fastapi>=0.110.0
uvicorn>=0.24.0